{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "no-debugger": 0,
    "no-alert": "warning",

    "comma-dangle": ["warning", {
      "arrays": "never",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"    
    }],

    "indent": ["warning", "tab", {
      "SwitchCase": 1,
      "VariableDeclarator": "first",
      "OuterIIFEBody": 1,
      "MemberExpression": "first", // not sure if this is a legit input; may want to disable by using "off";
      "FunctionDeclaration": {
        "body": 1,
        "parameters": "first",
      },
      "FunctionExpression": {
        "body": 1,
        "parameters": "first",
      },
      "CallExpression": {
        "arguments": "first"
      },
      "ArrayExpression": "first",
      "ObjectExpression": "first",
      "ImportDeclaration": "first",
      "ignoreNodes": [],
      "ignoreComments": false,
    }],

  }
}