<div class="container-lg d-flex flex-column" style="height: 100vh">
	
		<div class="row border">
			<div class="container-lg">
				<div class="logo row justify-content-center my-4"><h1 class="text-center">TODO LIST</h1></div>

				<div class="form-row my-3">
					<div class="col-sm-9 px-0" role="search" id="search-input">
						<input type="text" class="form-control" name="search-field" placeholder="Search..." aria-label="search-input">
					</div>

					<label for="filter-dropdown" class="col-sm-1 col-form-label text-md-right text-sm-center">Show</label>
					<select class="form-control col-sm-2" name="filter" id="filter-dropdown">
						<option value="all">Everything</option>
						<option value="incomplete">Incomplete</option>
						<option value="completed">Completed</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row" id="tasks-list" style="overflow: scroll;">

			<div class="container-lg py-md-1">

				<!-- container for tasks cards -->

			</div>
					
		</div>

		<div class="row" id="sticky-div-footer">
			<div class="container-lg border">
				<div class="input-group pb-3 pb-sm-4 pb-md-5 pt-2 pt-sm-3" role="dialog" id="new-task">
					<input type="text" class="form-control" placeholder="New task description" aria-label="new-task" aria-describedby="Description of the new task">
					<input type="text" class="form-control col-md-2 col-3" placeholder="Due date" aria-label="new-task" aria-describedby="Due date of the new task">
					<div class="input-group-append" id="submit-new-task">
						<button class="btn btn-primary" type="button" aria-label="submit-new-task">
							<i class="fas fa-paper-plane"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

	</div> 